<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new rectangle</title>
</head>
<body>
    <form action="/rectangle/new" method="post">
        <label for="name">Enter name: </label>
        <input id="name" type="text" name="name">

        <label for="name">Enter width: </label>
        <input id="width" type="number" name="width">

        <label for="height">Enter height: </label>
        <input id="height" type="number" name="height">

        <label for="color">Enter color: </label>
        <input id="color" type="color" name="color">

        <input type="submit" value="OK">
    </form>
</body>
</html>