<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create new rectangle</title>
</head>
<body>
    <div class="container">
        <h1>Update attributes of the Rectangle</h1><hr/>
        <form action="/rectangle/update/<%=myId%>" method="post">
            <div class="form-group">
                <label for="name">Enter name: </label>
                <input id="name" class="form-control" type="text" name="name">
            </div>

            <div class="form-group">
                <label for="width">Width: </label>
                <input id="width" class="form-control" type="number" name="width">
            </div>

            <div class="form-group">
                <label for="height">Height: </label>
                <input id="height" class="form-control" type="number" name="height">
            </div>

            <div class="form-group">
                <label for="color">Color: </label>
                <input id="color" class="form-control" type="text" name="color">
            </div>

            <div class="form-group">
                <label for="age">Age: </label>
                <input id="age" class="form-control" type="number" name="age">
            </div>

            <button type="submit" class="btn btn-warning float-right">Submit</button>

        </form>
    </div>
</body>
</html>